<div class="row">
    <div class="col-md-12">
        <img alt="User Pic" src="https://jamesriverdental.com/wp-content/uploads/2015/02/no-photo-male.jpg" class="img-circle img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img alt="User Pic" src="https://jamesriverdental.com/wp-content/uploads/2015/02/no-photo-male.jpg" class="img-circle img-responsive">
    </div>
    <div class="col-md-6">
        <img alt="User Pic" src="https://jamesriverdental.com/wp-content/uploads/2015/02/no-photo-male.jpg" class="img-circle img-responsive">
    </div>
</div>

