<div class="profile_grid" style=" padding: 25px;">
</div>
<!-- Modal -->
<div id="modelSendConnection" class="modal fade in" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close-model close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="float:left">Send a message</h4>
      </div>
      <div class="modal-body">
        <input id="userMessage" class="form-control" placeholder="Introduce yourself to Member Name in a few sentences. Start by typing here.">
 
        </input>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary connect-profile" onClick="sendRequest()">Send Message</button>
        <button type="button" class="btn btn-default close-model" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script>
    var user_id = <%=current_user.id%>
    matchGird();
    $(".close-model").click(function () {
  $('#modelSendConnection').css("display", "none");
}); 
</script>