<footer>
<div class="footer">
    <div class="row">
        <div class="col-md-6">
            <a herf="#" class="vertical-line-break">© Milan 2018</a> 
            <a herf="#" class="vertical-line-break">Privacy Policy</a> 
            <a herf="#" class=""> Terms of Use</a> 
        </div>
         <div class="col-md-6" style="text-align: right;">
            <a herf="#" class="vertical-line-break">Home </a> 
            <a herf="#" class="vertical-line-break">Help</a> 
            <a herf="#" class="">Contact us</a> 
    
        </div>
    <div>
<div>
</footer>

<style>
    .matrimonial footer{
    height: 60px;
    background-color: #dedede;
    border-color: #e7e7e7;
}
.matrimonial .footer{
    padding-top: 25px;
    color: white;
}
.matrimonial .footer a{
    color: #424040;
}

</style>